* {
  scrollbar-color: black #6060A0;
}

*::-webkit-scrollbar-track {
  background: #6060A0;
}

*::-webkit-scrollbar-thumb {
  background-color: #6060A0;
}

body {
  font-family: sans-serif;
  background-color: #6060A0;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Center the content in the browser window */
.container {
  margin: 1em;
  width: 100%;
}

.title {
  font-size: 3rem;
}

